.navbar {
    display: flex;
    background-color: rgb(65, 59, 59);
}

.nav-list {
    display: flex;
}


.nav-list a {
    display: block;
    padding: 1em;
    text-decoration: none;
    color: antiquewhite;
}

.nav-list a:hover {
    background-color: rgb(100, 92, 92);
}

.nav-btn:hover {
    background-color: rgb(100, 92, 92);
}

.nav-btn {
    display: none;
}

@media (max-width: 1000px) {
    .nav-btn {
        padding-inline: 8px;
        font-size: 2em;
        padding-bottom: 3px;
        border: none;
        background-color: rgb(65, 59, 59);
        color: rgb(255, 255, 255);
        display: block;
        cursor: pointer;
    }

    .nav-list {
        display: none;
    }

    .nav-btn:hover {
        background-color: rgb(100, 92, 92);
    }

    .drop:hover .nav-list {
        display: block;
        position: absolute;
        right: 0px;
        background-color: rgb(65, 59, 59);
    }

    .navbar {
        justify-content: space-between;
    }
}

